<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="MDSLens"
    Language="1033"
    Version="$(var.AppVersion)"
    Manufacturer="MDSLens Contributors"
    UpgradeCode="B9EA2350-BC49-4C8A-B91C-DB57C721A999">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of MDSLens is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="MDSLensIcon" SourceFile="$(var.IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="MDSLensIcon" />

    <Feature Id="Complete" Title="MDSLens" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationAssociations" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="MDSLens" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MDSLens" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="45B87F77-9171-41E0-8F60-1FD76B4B4852">
        <Shortcut
          Id="MDSLensStartMenuShortcut"
          Name="MDSLens"
          Description="MDSplus signal waveform viewer"
          Target="[INSTALLFOLDER]mdslens.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\MDSLens"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ApplicationAssociations" Guid="FA8D6F17-B6A7-4C30-B15D-4CA91C66281D">
        <RegistryValue Root="HKCR" Key="MDSLens.Configuration" Type="string"
          Value="MDSLens configuration" KeyPath="yes" />
        <RegistryValue Root="HKCR" Key="MDSLens.Configuration\DefaultIcon"
          Type="string" Value="&quot;[INSTALLFOLDER]mdslens.exe&quot;,0" />
        <RegistryValue Root="HKCR" Key="MDSLens.Configuration\shell\open\command"
          Type="string" Value="&quot;[INSTALLFOLDER]mdslens.exe&quot; &quot;%1&quot;" />
        <RegistryValue Root="HKCR" Key=".toml\OpenWithProgids"
          Name="MDSLens.Configuration" Type="string" Value="" />
        <RegistryValue Root="HKCR" Key=".webscp"
          Type="string" Value="MDSLens.Configuration" />
        <RegistryValue Root="HKCR" Key="mdslens"
          Type="string" Value="URL:MDSLens protocol" />
        <RegistryValue Root="HKCR" Key="mdslens"
          Name="URL Protocol" Type="string" Value="" />
        <RegistryValue Root="HKCR" Key="mdslens\DefaultIcon"
          Type="string" Value="&quot;[INSTALLFOLDER]mdslens.exe&quot;,0" />
        <RegistryValue Root="HKCR" Key="mdslens\shell\open\command"
          Type="string" Value="&quot;[INSTALLFOLDER]mdslens.exe&quot; &quot;%1&quot;" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
